<div>
  <h2 id="page-heading" data-cy="VertragHeading">
    <span>Vertrags</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_PRAKTIKUMSBEAUFTRAGTER']"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-vertrag"
        [routerLink]="['/vertrag/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Vertrag </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="vertrags?.length === 0">
    <span>No vertrags found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="vertrags && vertrags.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <!--<th scope="col"><span>ID</span></th>-->
          <th scope="col"><span>Ansprechpartner</span></th>
          <th scope="col"><span>Beginn</span></th>
          <th scope="col"><span>Ende</span></th>
          <!--<th scope="col"><span>Differenz</span></th>-->
          <th scope="col"><span>Bearbeitungs Stand</span></th>
          <th scope="col"><span>Beschreibung</span></th>
          <th scope="col"><span>Praktikant</span></th>
          <th scope="col"><span>Dozent</span></th>
          <th scope="col"><span>Unternehmen</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vertrag of vertrags; trackBy: trackId" data-cy="entityTable">
          <!--
          <td>
            <a [routerLink]="['/vertrag', vertrag.id, 'view']">{{ vertrag.id }}</a>
          </td>
          -->
          <td>
            <a [routerLink]="['/vertrag', vertrag.id, 'view']">{{ vertrag.ansprechpartner }}</a>
          </td>
          <td>{{ vertrag.beginn | formatMediumDate }}</td>
          <td>{{ vertrag.ende | formatMediumDate }}</td>
          <!--<td>{{ vertrag.differenz | formatMediumDate}} </td>-->
          <td>{{ vertrag.bearbeitungsStand }}</td>

          <td>{{ vertrag.beschreibung }}</td>
          <td>
            <div *ngIf="vertrag.praktikant">
              <a [routerLink]="['/student', vertrag.praktikant?.id, 'view']">{{ vertrag.praktikant?.sNummer }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="vertrag.dozent">
              <a [routerLink]="['/dozent', vertrag.dozent?.id, 'view']">{{ vertrag.dozent?.nachname }} {{ vertrag.dozent?.vorname }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="vertrag.unternehmen">
              <a [routerLink]="['/unternehmen', vertrag.unternehmen?.id, 'view']">{{ vertrag.unternehmen?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/vertrag', vertrag.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_PRAKTIKUMSBEAUFTRAGTER', 'ROLE_DOZENT']"
                type="submit"
                [routerLink]="['/vertrag', vertrag.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button
                *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_PRAKTIKUMSBEAUFTRAGTER']"
                type="submit"
                (click)="delete(vertrag)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
