<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-student-heading" data-cy="StudentCreateUpdateHeading">Create or edit a Student</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_matrikelNmr">Matrikel Nmr</label>
          <input
            type="text"
            class="form-control"
            name="matrikelNmr"
            id="field_matrikelNmr"
            data-cy="matrikelNmr"
            formControlName="matrikelNmr"
          />
          <div *ngIf="editForm.get('matrikelNmr')!.invalid && (editForm.get('matrikelNmr')!.dirty || editForm.get('matrikelNmr')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('matrikelNmr')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_sNummer">S Nummer</label>
          <input type="text" class="form-control" name="sNummer" id="field_sNummer" data-cy="sNummer" formControlName="sNummer" />
          <div *ngIf="editForm.get('sNummer')!.invalid && (editForm.get('sNummer')!.dirty || editForm.get('sNummer')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('sNummer')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_studienGr">Studien Gr</label>
          <input type="text" class="form-control" name="studienGr" id="field_studienGr" data-cy="studienGr" formControlName="studienGr" />
          <div *ngIf="editForm.get('studienGr')!.invalid && (editForm.get('studienGr')!.dirty || editForm.get('studienGr')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('studienGr')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_nachname">Nachname</label>
          <input type="text" class="form-control" name="nachname" id="field_nachname" data-cy="nachname" formControlName="nachname" />
          <div *ngIf="editForm.get('nachname')!.invalid && (editForm.get('nachname')!.dirty || editForm.get('nachname')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nachname')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_vorname">Vorname</label>
          <input type="text" class="form-control" name="vorname" id="field_vorname" data-cy="vorname" formControlName="vorname" />
          <div *ngIf="editForm.get('vorname')!.invalid && (editForm.get('vorname')!.dirty || editForm.get('vorname')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('vorname')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_beschreibung">Beschreibung</label>
          <textarea
            class="form-control"
            name="beschreibung"
            id="field_beschreibung"
            data-cy="beschreibung"
            formControlName="beschreibung"
          ></textarea>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
