<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="vertrag">
      <h2 data-cy="vertragDetailsHeading"><span>Vertrag</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ vertrag.id }}</span>
        </dd>
        <dt><span>Ansprechpartner</span></dt>
        <dd>
          <span>{{ vertrag.ansprechpartner }}</span>
        </dd>
        <dt><span>Beginn</span></dt>
        <dd>
          <span>{{ vertrag.beginn | formatMediumDate }}</span>
        </dd>
        <dt><span>Ende</span></dt>
        <dd>
          <span>{{ vertrag.ende | formatMediumDate }}</span>
        </dd>
        <dt><span>Bearbeitungs Stand</span></dt>
        <dd>
          <span>{{ vertrag.bearbeitungsStand }}</span>
        </dd>
        <dt><span>Beschreibung</span></dt>
        <dd>
          <span>{{ vertrag.beschreibung }}</span>
        </dd>
        <dt><span>Praktikant</span></dt>
        <dd>
          <div *ngIf="vertrag.praktikant">
            <a [routerLink]="['/student', vertrag.praktikant?.id, 'view']">{{ vertrag.praktikant?.sNummer }}</a>
          </div>
        </dd>
        <dt><span>Dozent</span></dt>
        <dd>
          <div *ngIf="vertrag.dozent">
            <a [routerLink]="['/dozent', vertrag.dozent?.id, 'view']">{{ vertrag.dozent?.email }}</a>
          </div>
        </dd>
        <dt><span>Unternehmen</span></dt>
        <dd>
          <div *ngIf="vertrag.unternehmen">
            <a [routerLink]="['/unternehmen', vertrag.unternehmen?.id, 'view']">{{ vertrag.unternehmen?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/vertrag', vertrag.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
