<div>
  <h2 id="page-heading" data-cy="StudentHeading">
    <span>Students</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_PRAKTIKUMSBEAUFTRAGTER']"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-student"
        [routerLink]="['/student/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Student </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="students?.length === 0">
    <span>No students found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="students && students.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <!--<th scope="col"><span>ID</span></th>-->
          <th scope="col"><span>Matrikel Nmr</span></th>
          <th scope="col"><span>S Nummer</span></th>
          <th scope="col"><span>Studien Gr</span></th>
          <th scope="col"><span>Nachname</span></th>
          <th scope="col"><span>Vorname</span></th>
          <th scope="col"><span>Beschreibung</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students; trackBy: trackId" data-cy="entityTable">
          <!--
          <td>
            <a [routerLink]="['/student', student.id, 'view']">{{ student.id }}</a>
          </td>
        -->
          <td>
            <a [routerLink]="['/student', student.id, 'view']">{{ student.matrikelNmr }}</a></td>
          <td>{{ student.sNummer }}</td>
          <td>{{ student.studienGr }}</td>
          <td>{{ student.nachname }}</td>
          <td>{{ student.vorname }}</td>
          <td>{{ student.beschreibung }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/student', student.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_PRAKTIKUMSBEAUFTRAGTER']"
                type="submit"
                [routerLink]="['/student', student.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button
                *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_PRAKTIKUMSBEAUFTRAGTER']"
                type="submit" (click)="delete(student)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
