<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-vertrag-heading" data-cy="VertragCreateUpdateHeading">Create or edit a Vertrag</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_PRAKTIKUMSBEAUFTRAGTER']">
          <label class="form-control-label" for="field_ansprechpartner">Ansprechpartner</label>
          <input
            type="text"
            class="form-control"
            name="ansprechpartner"
            id="field_ansprechpartner"
            data-cy="ansprechpartner"
            formControlName="ansprechpartner"
          />
        </div>

        <div class="form-group" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_PRAKTIKUMSBEAUFTRAGTER']">
          <label class="form-control-label" for="field_beginn">Beginn</label>
          <div class="input-group">
            <input
              id="field_beginn"
              data-cy="beginn"
              type="text"
              class="form-control"
              name="beginn"
              ngbDatepicker
              #beginnDp="ngbDatepicker"
              formControlName="beginn"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="beginnDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
          <div *ngIf="editForm.get('beginn')!.invalid && (editForm.get('beginn')!.dirty || editForm.get('beginn')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('beginn')?.errors?.required"> This field is required. </small>
          </div>
          <div *ngIf="!checkPrakLength() && (editForm.get('beginn')!.dirty || editForm.get('beginn')!.touched)">
            <small class="form-text text-danger"> Minimum Länge beachten. </small>
          </div>
        </div>

        <div class="form-group" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_PRAKTIKUMSBEAUFTRAGTER']">
          <label class="form-control-label" for="field_ende">Ende</label>
          <div class="input-group">
            <input
              id="field_ende"
              data-cy="ende"
              type="text"
              class="form-control"
              name="ende"
              ngbDatepicker
              #endeDp="ngbDatepicker"
              formControlName="ende"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="endeDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
          <div *ngIf="editForm.get('ende')!.invalid && (editForm.get('ende')!.dirty || editForm.get('ende')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('ende')?.errors?.required"> This field is required. </small>
          </div>
          <div *ngIf="!checkPrakLength() && (editForm.get('beginn')!.dirty || editForm.get('beginn')!.touched)">
            <small class="form-text text-danger"> Minimum Länge beachten. </small>
          </div>
        </div>

        <div class="form-group" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_PRAKTIKUMSBEAUFTRAGTER', 'ROLE_DOZENT']">
          <label class="form-control-label" for="field_bearbeitungsStand">Bearbeitungs Stand</label>
          <select
            class="form-control"
            name="bearbeitungsStand"
            formControlName="bearbeitungsStand"
            id="field_bearbeitungsStand"
            data-cy="bearbeitungsStand"
          >
            <option *ngIf="getStandValue(this.initialBearbeitungsStand) <= getStandValue('VertragAngelegt')" value="VertragAngelegt">
              VertragAngelegt
            </option>
            <option
              *ngIf="getStandValue(this.initialBearbeitungsStand) <= getStandValue('BerichtUndZeugnisVorhanden')"
              value="BerichtUndZeugnisVorhanden"
            >
              BerichtUndZeugnisVorhanden
            </option>
            <option
              *ngIf="getStandValue(this.initialBearbeitungsStand) <= getStandValue('AnnerkennungErfolgt')"
              value="AnnerkennungErfolgt"
            >
              AnnerkennungErfolgt
            </option>
            <option *ngIf="getStandValue(this.initialBearbeitungsStand) <= getStandValue('ErfolgGemeldet')" value="ErfolgGemeldet">
              ErfolgGemeldet
            </option>
          </select>
          <div
            *ngIf="
              editForm.get('bearbeitungsStand')!.invalid &&
              (editForm.get('bearbeitungsStand')!.dirty || editForm.get('bearbeitungsStand')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('bearbeitungsStand')?.errors?.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_PRAKTIKUMSBEAUFTRAGTER']">
          <label class="form-control-label" for="field_beschreibung">Beschreibung</label>
          <textarea
            class="form-control"
            name="beschreibung"
            id="field_beschreibung"
            data-cy="beschreibung"
            formControlName="beschreibung"
          ></textarea>
        </div>

        <div class="form-group" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_PRAKTIKUMSBEAUFTRAGTER']">
          <label class="form-control-label" for="field_praktikant">Praktikant</label>
          <input
            type="text"
            class="form-control"
            name="praktikant"
            id="field_praktikant"
            data-cy="praktikant"
            formControlName="praktikant"
            (change)="getPraktikantOptions()"
          />
          <div>
            <div *ngFor="let student of availablePraktikants">
              <div class="customOption" (click)="this.editForm.get('praktikant')!.setValue(student.sNummer)">
                {{ student.sNummer }} {{ student.vorname }} {{ student.nachname }}
              </div>
            </div>
          </div>
          <div
            *ngIf="editForm.get(['praktikant'])!.invalid && (editForm.get(['praktikant'])!.dirty || editForm.get(['praktikant'])!.touched)"
          >
            <small class="form-text text-danger" *ngIf="editForm.get(['praktikant'])?.errors?.required"> This field is required. </small>
          </div>
        </div>
        <!-- TODO: implement CHECK if auto validation value is in Database -->

        <div class="form-group" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_PRAKTIKUMSBEAUFTRAGTER']">
          <label class="form-control-label" for="field_dozent">Dozent</label>
          <input type="text" class="form-control" name="dozent" id="field_dozent" data-cy="dozent" formControlName="dozent" />
          <div>
            <div *ngFor="let dozent of getDozentOptions()">
              <div class="customOption" (click)="this.editForm.get('dozent')!.setValue(dozent.email)">
                {{ dozent.email }} {{ dozent.vorname }} {{ dozent.nachname }}
              </div>
            </div>
          </div>
          <div *ngIf="editForm.get(['dozent'])!.invalid && (editForm.get(['dozent'])!.dirty || editForm.get(['dozent'])!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get(['dozent'])?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_PRAKTIKUMSBEAUFTRAGTER']">
          <label class="form-control-label" for="field_unternehmen">Unternehmen</label>
          <input
            type="text"
            class="form-control"
            name="unternehmen"
            id="field_unternehmen"
            data-cy="unternehmen"
            formControlName="unternehmen"
          />
          <div>
            <div *ngFor="let unternehmen of getUnternehmenOptions()">
              <div class="customOption" (click)="this.editForm.get('unternehmen')!.setValue(unternehmen.name)">
                {{ unternehmen.name }} {{ unternehmen.ort }}
              </div>
            </div>
          </div>
          <div
            *ngIf="
              editForm.get(['unternehmen'])!.invalid && (editForm.get(['unternehmen'])!.dirty || editForm.get(['unternehmen'])!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get(['unternehmen'])?.errors?.required"> This field is required. </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving || !checkPrakLength()"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
