<div>
  <h2 id="page-heading" data-cy="UnternehmenHeading">
    <span>Unternehmen</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-unternehmen"
        [routerLink]="['/unternehmen/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Unternehmen </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="unternehmen?.length === 0">
    <span>No unternehmen found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="unternehmen && unternehmen.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <!--<th scope="col"><span>ID</span></th>-->
          <th scope="col"><span>Name</span></th>
          <th scope="col"><span>Ort</span></th>
          <th scope="col"><span>Branche</span></th>
          <th scope="col"><span>Beschreibung</span></th>
          <th scope="col"><span>Postleitzahl</span></th>
          <th scope="col"><span>Adresse</span></th>
          <th scope="col"><span>Land</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let unternehmen of unternehmen; trackBy: trackId" data-cy="entityTable">
          <!--
          <td>
            <a [routerLink]="['/unternehmen', unternehmen.id, 'view']">{{ unternehmen.id }}</a>
          </td>
          -->
          <td>
            <a [routerLink]="['/unternehmen', unternehmen.id, 'view']">{{ unternehmen.name }}</a>
          </td>
          <td>{{ unternehmen.ort }}</td>
          <td>{{ unternehmen.branche }}</td>
          <td>{{ unternehmen.beschreibung }}</td>
          <td>{{ unternehmen.postleitzahl }}</td>
          <td>{{ unternehmen.adresse }}</td>
          <td>{{ unternehmen.land }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/unternehmen', unternehmen.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/unternehmen', unternehmen.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(unternehmen)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
