<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="student">
      <h2 data-cy="studentDetailsHeading"><span>Student</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ student.id }}</span>
        </dd>
        <dt><span>Matrikel Nmr</span></dt>
        <dd>
          <span>{{ student.matrikelNmr }}</span>
        </dd>
        <dt><span>S Nummer</span></dt>
        <dd>
          <span>{{ student.sNummer }}</span>
        </dd>
        <dt><span>Studien Gr</span></dt>
        <dd>
          <span>{{ student.studienGr }}</span>
        </dd>
        <dt><span>Nachname</span></dt>
        <dd>
          <span>{{ student.nachname }}</span>
        </dd>
        <dt><span>Vorname</span></dt>
        <dd>
          <span>{{ student.vorname }}</span>
        </dd>
        <dt><span>Beschreibung</span></dt>
        <dd>
          <span>{{ student.beschreibung }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/student', student.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
