<div>
  <h2 id="page-heading" data-cy="DozentHeading">
    <span>Dozents</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_PRAKTIKUMSBEAUFTRAGTER']"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-dozent"
        [routerLink]="['/dozent/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Dozent </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="dozents?.length === 0">
    <span>No dozents found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="dozents && dozents.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <!--<th scope="col"><span>ID</span></th>-->
          <th scope="col"><span>Nachname</span></th>
          <th scope="col"><span>Vorname</span></th>
          <th scope="col"><span>Email</span></th>
          <th scope="col"><span>Beschreibung</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dozent of dozents; trackBy: trackId" data-cy="entityTable">
         <!--
          <td>
            <a [routerLink]="['/dozent', dozent.id, 'view']">{{ dozent.id }}</a>
          </td>
          --> 
          <td>
            <a [routerLink]="['/dozent', dozent.id, 'view']">{{ dozent.nachname }}</a>
          </td>
          <td>{{ dozent.vorname }}</td>
          <td>{{ dozent.email }}</td>
          <td>{{ dozent.beschreibung }}</td>
          <td class="text-right">
            <div class="btn-group">

              <button
                      type="submit" [routerLink]="['/dozent', dozent.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_PRAKTIKUMSBEAUFTRAGTER']"
                type="submit" [routerLink]="['/dozent', dozent.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button
                *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_PRAKTIKUMSBEAUFTRAGTER']"
                type="submit" (click)="delete(dozent)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
