<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="unternehmen">
      <h2 data-cy="unternehmenDetailsHeading"><span>Unternehmen</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ unternehmen.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ unternehmen.name }}</span>
        </dd>
        <dt><span>Ort</span></dt>
        <dd>
          <span>{{ unternehmen.ort }}</span>
        </dd>
        <dt><span>Branche</span></dt>
        <dd>
          <span>{{ unternehmen.branche }}</span>
        </dd>
        <dt><span>Beschreibung</span></dt>
        <dd>
          <span>{{ unternehmen.beschreibung }}</span>
        </dd>
        <dt><span>Postleitzahl</span></dt>
        <dd>
          <span>{{ unternehmen.postleitzahl }}</span>
        </dd>
        <dt><span>Adresse</span></dt>
        <dd>
          <span>{{ unternehmen.adresse }}</span>
        </dd>
        <dt><span>Land</span></dt>
        <dd>
          <span>{{ unternehmen.land }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/unternehmen', unternehmen.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
