<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-unternehmen-heading" data-cy="UnternehmenCreateUpdateHeading">Create or edit a Unternehmen</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_ort">Ort</label>
          <input type="text" class="form-control" name="ort" id="field_ort" data-cy="ort" formControlName="ort" />
          <div *ngIf="editForm.get('ort')!.invalid && (editForm.get('ort')!.dirty || editForm.get('ort')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('ort')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_branche">Branche</label>
          <input type="text" class="form-control" name="branche" id="field_branche" data-cy="branche" formControlName="branche" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_beschreibung">Beschreibung</label>
          <textarea
            class="form-control"
            name="beschreibung"
            id="field_beschreibung"
            data-cy="beschreibung"
            formControlName="beschreibung"
          ></textarea>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_postleitzahl">Postleitzahl</label>
          <input
            type="text"
            class="form-control"
            name="postleitzahl"
            id="field_postleitzahl"
            data-cy="postleitzahl"
            formControlName="postleitzahl"
          />
          <div
            *ngIf="editForm.get('postleitzahl')!.invalid && (editForm.get('postleitzahl')!.dirty || editForm.get('postleitzahl')!.touched)"
          >
            <small class="form-text text-danger" *ngIf="editForm.get('postleitzahl')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_adresse">Adresse</label>
          <input type="text" class="form-control" name="adresse" id="field_adresse" data-cy="adresse" formControlName="adresse" />
          <div *ngIf="editForm.get('adresse')!.invalid && (editForm.get('adresse')!.dirty || editForm.get('adresse')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('adresse')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_land">Land</label>
          <input type="text" class="form-control" name="land" id="field_land" data-cy="land" formControlName="land" />
          <div *ngIf="editForm.get('land')!.invalid && (editForm.get('land')!.dirty || editForm.get('land')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('land')?.errors?.required"> This field is required. </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
