<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="dozent">
      <h2 data-cy="dozentDetailsHeading"><span>Dozent</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ dozent.id }}</span>
        </dd>
        <dt><span>Nachname</span></dt>
        <dd>
          <span>{{ dozent.nachname }}</span>
        </dd>
        <dt><span>Vorname</span></dt>
        <dd>
          <span>{{ dozent.vorname }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ dozent.email }}</span>
        </dd>
        <dt><span>Beschreibung</span></dt>
        <dd>
          <span>{{ dozent.beschreibung }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/dozent', dozent.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
